
### Builder
target/
build/
out/
gen/
.idea/
.gradle/
src/main/java/br/com/chatbot/Conexao/Conexao.java
local.properties
tomcat.8080/

### IntelliJ
.idea/
*.iml
*.ipr
*.iws

### Eclipse
.settings/
.project
.classpath
.mymetadata

### Package Files
*.jar
*.war
*.ear
*.ear

### Other
.DS_Store
*.log
*.bak
